.container {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
}

#p-score, #c-score {
    display: flex;
    justify-content: center;
}

#final {
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

h2 {
    text-decoration: underline;
}